<div>
  <a href='/project/{{id}}'>
    <div>Name: {{name}}</div>
    <div>Description: {{description}}</div>
    <div>date_created: {{date_created}}</div>
    <div>needed_funding: {{needed_funding}}</div>
  </a>
</div>
<br />